@import '@app/styles/reset.css';
@import '@app/styles/vars.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'iviSansBase';
	src: url('/shared/fonts/iviSansBase-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'iviSansBase';
	src: url('/shared/fonts/iviSansBase-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'iviSansBase';
	src: url('/shared/fonts/iviSansBase-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'iviSansBase', sans-serif;
	background-color: var(--bg-color);
	color: var(--primary-color);
	overflow-x: hidden;
}

button:focus,
button:focus-visible {
	outline: none !important;
	box-shadow: none !important;
	-webkit-focus-ring-color: transparent !important;
}

.movie-description p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.movie-description ul {
  margin: 1em 0;
  padding-left: 2em;
}

.movie-description li {
  margin-bottom: 0.5em;
}

@layer base {
	:root {
		@apply transition-colors duration-200;
	}
}
